.blog-item {
  padding: 42px 0;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 1px solid #e0e5ed;

  &__title {
    position: relative;
    margin-bottom: 14px;
    padding-top: 5px;
    padding-right: 6px;
    max-width: 760px;
    grid-column: 1/9;
    line-height: 1.5;
    text-transform: uppercase;

    a {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &__info {
    padding-right: 6px;
    grid-column: 1/9;
  }

  &__elem {
    &:not(:first-child) {
      margin-top: 8px;
    }

    &-link {
      font-size: 18px;
      line-height: 1.4;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &__text {
    max-width: 555px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__more {
    margin-top: 52px;
    display: inline-block;
  }

  &__img {
    position: relative;
    margin-left: 14px;
    padding-top: min(257px, 60.25%);
    border-radius: 16px;
    overflow: hidden;
    grid-column: 9/13;
    grid-row: 1/5;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--high {
      padding-top: min(318px, 74.75%);
    }
  }

  @media (max-width: 1240px) {
    padding: 35px 0;

    &__title {
      padding-top: 0;
    }

    &__elem {
      &:not(:first-child) {
        margin-top: 7px;
      }

      &-link {
        font-size: 16px;
      }
    }

    &__more {
      margin-top: 36px;
    }
  }

  @media (max-width: 991px) {
    padding: 30px 0;

    &__elem {
      &:not(:first-child) {
        margin-top: 6px;
      }

      &-link {
        font-size: 15px;
      }
    }

    &__more {
      margin-top: 28px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px 0;
    grid-template-columns: 1fr;

    &__title {
      padding-right: 0;
      grid-row: 1/1;
    }

    &__info {
      padding-right: 0;
      grid-column: 1/1;
    }

    &__img {
      margin-left: 0;
      margin-bottom: 16px;
      padding-top: min(220px, 60%);
      grid-column: 1/1;
      grid-row: 2/3;

      &--high {
        padding-top: min(250px, 75%);
      }
    }

    &__elem {
      &-link {
        font-size: 14px;
      }
    }

    &__more {
      margin-top: 18px;
    }
  }
}
